### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar

### Gradle ###
.gradle

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
logs/

### Kotlin ###
kotlin_bin/

### Visual Studio Code ###
.vscode

### Project-specific
cities-web/Dockerfile
*.env